body {
	font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 20px;
}
body ul {
    padding: 0;
    list-style-type: none; 
}
table {
	font-size: 13px;
}
td {
	padding: 5px;
}
.odd {
	background-color: #ddd;
}
label {
	margin: 5px;
}
form input[id="userID"] {
	width: 40px;
	margin-bottom: 15px;
}
form span, form label {
	margin-right: 5px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease-out 0s, background 1s ease-in 0s;
}
a:hover {
    color: #FF0B5B;
}
.task {
    max-width: 35em;
    line-height: 25px;
}
.task input[type="submit"] {
	float: right;
}
.clear {
	clear: both;
}
.price {
	color: rgb(153, 153, 153);
    font-size: 12px;
}
input[type="submit"], button, input[type="reset"], input[type="button"] {
    cursor: pointer;
    margin: 0;
    padding: 4px 10px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input[type="submit"]:hover, button:hover, input[type="reset"]:hover, input[type="button"]:hover {
    border-color: rgba(128, 128, 128, 0.8);
    outline: 0px none;
}
input[type="text"], input[type="password"] {
    padding: 3px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input[type="text"]:hover, input[type="password"]:hover {
    border-color: rgba(0, 0, 0, 0.4);
}
input[type="text"]:focus, input[type="password"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0px none;
}